@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Ubuntu:wght@300;400;700&display=swap");

/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
* {
  font-family: "Montserrat", sans-serif;

}

:root {
  /* palet */
  --color-1: #CCA0DB;
  --color-2: #825A8F;
  --color-3: #F4D4FF;
  --color-4: #798F4C;
  --color-5: #C8DBA0;
  --text-shadow1: #825a8fb2;
  --text-shadow2: #798f4c70;
}

/* ======HEADER====== */

#header {
  background-color: var(--color-1);
  padding: 3% 15%;
  color: #fff;
  text-shadow: -2px 3px 10px var(--text-shadow1);
}

#header #header-logo {
  font-family: "Ubuntu", sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

/* ======NAVBA ====== */
#nav {
  padding-bottom: 10rem;
}

.nav-item {
  margin-right: 2rem;

}

.navbar-nav {
  font-size: 1.2rem;

}


#header button {
  text-shadow: -2px 3px 10px var(--text-shadow);
}

#header .navigation:hover {
  color: var(--color-2);
}

/* ======CONTENT HEADER====== */

.header-img {
  width: 18%;
  transform: rotate(25deg);
  position: absolute;
  top: 25%;
  right: 22%;

}

#header h1 {
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}


/* ====second content===== */

#features {
  padding: 3% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

#features h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-4)
}

#features p {
  color: var(--color-4);
}

.row-padding {
  padding: 10% 10%;
}

.features-box {
  padding: 5%;
  text-align: center;
}

.icon {
  color: var(--color-4);
  margin-bottom: 1.2rem;
}

.icon:hover {
  color: var(--color-3);
}

/* ============= coments ============ */
#coments {
  padding: 3% 15%;
  background-color: var(--color-5);
}

#coments .img-coments {
  width: 15%;
  border-radius: 100%;
  text-align: center;
  margin-bottom: 3rem;
}

#coments h1 {
  font-size: 2em;
}

#coments #carousel-coments {
  padding: 10% 10%;
}

/* ====== price ======= */

#price {
  padding: 3% 15%;
  text-align: center;
  color: var(--color-4);
}

.pricing-column {
  padding: 10% 2%;
}

.card-header h3 {
  font-weight: bold;
}

/* =========footer========= */
#footer {
  padding: 2% 7%;
  background-color: var(--color-1);
  text-align: center;
  color: #ffff;
}

.container-footer {
  padding: 2%;
}

.footer-links {
  margin-bottom: 1.5rem;
}

.social-links {
  margin-right: 1rem;
  text-decoration: none;
  color: #ffff;
}

.social-links:hover {
  transition: 0.4s;
  color: var(--color-5);
}

@media(max-width: 1280px) {
  #header figure {
    text-align: center;
  }

  .header-img {
    width: 60%;
    transform: rotate(0);
    position: static;
    top: 0;
    right: 0;
  }
}

@media(max-width: 1024px) {
  #header h1 {
    font-size: 2.3rem;
    line-height: 1.5;
    font-weight: 900;
  }

  #features h1 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--color-4)
  }

  #coments .img-coments {
    width: 25%;
  }

}

@media(max-width: 991px) {
  #header {
    text-align: center;
  }

  .header-img {
    width: 35%;
    margin-top: 5rem;
  }

  #coments .img-coments {
    width: 30%;
  }

}

@media(max-width: 652px) {
  #header nav button {
    margin: 1.4rem auto 0;
  }

  #nav {
    padding-bottom: 5%;
  }

  #header h1 {
    font-size: 2.1rem;
    margin-bottom: 1rem;
  }

  .header-img {
    width: 50%;
    margin-top: 3rem;
  }

  #coments strong {
    font-size: 1.5rem;
  }
}

@media(max-width: 414px) {
  #header #header-logo {
    font-size: 3rem;
  }

  #coments .carousel-control-next {
    right: -40px;
  }

  #coments .carousel-control-prev {
    left: -40px;
  }

  #coments .img-coments {
    width: 50%;
    margin-bottom: 1rem;
  }

  #coments strong {
    font-size: 1.3rem;
  }
}