@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&family=Ubuntu:wght@300;400;700&display=swap");

/*font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

:root {
    /* palet */
    --color-1: #CCA0DB;
    --color-2: #825A8F;
    --color-3: #F4D4FF;
    --color-4: #798F4C;
    --color-5: #C8DBA0;
    --text-shadow1: #825a8f86;
    --text-shadow2: #798f4c70;
}

/* sections config */
body h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

body {
    height: 100vh;
}

.btn-shadow {
    text-shadow: -2px 3px 10px var(--text-shadow1);
}

.white-section {
    background-color: #fff;
    color: var(--color-4);
    padding: 3% 5%;
}

.colored-section {
    padding: 3% 5%;
    background-color: var(--color-5);
}

.header-footer {
    background-color: var(--color-1);
    color: #fff;
    text-shadow: -2px 3px 10px var(--text-shadow1);
    padding: 3% 8%;
}

/* end sections */

/* ======NAVBAR  ====== */
#nav {
    padding-bottom: 3rem;
    font-family: "Ubuntu", sans-serif;

}

#header #nav-logo {
    font-size: 2rem;
    font-weight: bold;
}

/* END NAVBAR  */


/* ======CONTENT HEADER====== */

.header-img {
    width: 60%;
}

#header h1 {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
}

#header .navigation:hover {
    color: var(--color-2);
}

/* END CONTENT HEADER */

/* ====FEATURES===== */

#features {
    color: var(--color-4);
}

.row-padding {
    padding: 10% 5%;
}

.gap-box {
    padding: 5%;
}

.icon {
    margin-bottom: 1.2rem;
}

.icon:hover {
    color: var(--color-3);

}

/* END FEATURES */


/* ============= coments ============ */
#coments {
    background-color: var(--color-5);
    text-align: justify;
}

#coments .img-coments {
    width: 30%;
    border-radius: 100%;
    margin-bottom: 3rem;
}

#coments .carousel-control-prev {
    left: -30px;
}

#coments .carousel-control-next {
    right: -30px;
}

#carousel-coments {
    padding: 4%;
}

/* END COMMENTS */

/* ====== price ======= */

#price {
    color: var(--color-4);
}

.pricing-column {
    padding: 10%;
}

.card-tittle {
    font-weight: bold;
    font-size: 1.8rem;
}

/* END PRICE  */

#cta {
    color: #fff;
    padding: 10%;
    text-align: left;
    text-shadow: -2px 3px 10px var(--text-shadow2);
}

/* =========footer========= */

.container-footer {
    padding: 2%;
}

.footer-links {
    margin-bottom: 1.5rem;
}

.social-links {
    margin-right: 1rem;
    text-decoration: none;
    color: #ffff;
}

.social-links:hover {
    transition: 0.4s;
    color: var(--color-5);
}

/* END FOOTER */

@media (min-width: 550px) {

    .header-img {
        width: 40%;
    }

    #header h1 {
        text-align: center;
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    body h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.2rem;
    }

    #coments .img-coments {
        width: 20%;
        border-radius: 100%;
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
    .header-img {
        width: 18%;
        transform: rotate(25deg);
        position: absolute;
        top: 14%;
        right: 22%;
    }

    #header h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    #features {
        position: relative;
        z-index: 1;
    }

    #coments .img-coments {
        width: 10%;
        border-radius: 100%;
        margin-bottom: 3rem;
    }

    .white-section {
        padding: 3% 15%;
    }

    .colored-section {
        padding: 3% 15%;

    }

    .header-footer {
        padding: 3% 15%;
    }
}
}